<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">week 4</a></h1>
    </li>
    
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  
   <section class="top-bar-section">
     <ul class="right">
      <li><a href="index">Home</a></li>
      <li><a href="orbit">Orbit</a></li>
	  <li><a href="gallery">Gallery</a></li>
	  <li><a href="slider">Slider</a></li>
  </ul>
    </section>
</nav>