{% block content %}

<div class="row">
  <div class = "medium-12 columns">
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
  
  <ul class="clearing-thumbs small-block-grid-3" data-clearing>
  <li><a href="assets/img/gal1.png"><img data-caption="caption here..." src="../assets/img/gal1.png"></a></li>
  <li><a href="assets/img/gal2.jpg"><img data-caption="caption 2 here..." src="../assets/img/gal2.jpg"></a></li>
  <li><a href="assets/img/gal3.png"><img data-caption="caption here..." src="../assets/img/gal3.png"></a></li>
  <li><a href="assets/img/gal4.jpg"><img data-caption="caption 2 here..." src="../assets/img/gal4.jpg"></a></li>
  <li><a href="assets/img/gal5.jpg"><img data-caption="caption here..." src="../assets/img/gal5.jpg"></a></li>
 </ul>
 
  </div>
</div>

{% endblock %}