{% block content %}

<div class="row">
  <div class = "medium-12 columns">
    <h1 class="text-center">Orbit Slider</h1>
  </div>
</div>

<div class="row">
  <div class = "medium-12 columns">
   <ul class="example-orbit" data-orbit>
   
  <li>
    <img src="assets/img/gal1.png" alt="slide 1" />
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  
  <li class="active">
    <img src="assets/img/gal2.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  
  <li>
    <img src="assets/img/gal3.png" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
  
  <li>
    <img src="assets/img/gal4.jpg" alt="slide 4" />
    <div class="orbit-caption">
      Caption Four.
    </div>
  </li>
  
  <li>
    <img src="assets/img/gal5.jpg" alt="slide 5" />
    <div class="orbit-caption">
      Caption Five.
    </div>
  </li>
  
   </ul>
  </div>
</div>
 
 
<div class="row">
  <div class = "medium-8 columns">
    <h1>Heading</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
</div>
  
<div class="medium-4 columns">
	<div class="panel">
		<h2 class="text-center">Ads</h2><br/>
		<ul class="example-orbit-content" data-orbit>
          <li data-orbit-slide="headline-1">
            <div>
             <h2>Headline 1</h2>
               <p>
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a massa mi. Duis sed urna in ex pulvinar tincidunt nec at lectus. Donec facilisis nibh non cursus cursus.
			  </p>
           </div>
          </li>
          <li data-orbit-slide="headline-2">
            <div>
             <h2>Headline 1</h2>
              <p>
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a massa mi. Duis sed urna in ex pulvinar tincidunt nec at lectus. Donec facilisis nibh non cursus cursus.
			  </p>
           </div>
          </li>
          <li data-orbit-slide="headline-2">
            <div>
             <h2>Headline 1</h2>
              <p>
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a massa mi. Duis sed urna in ex pulvinar tincidunt nec at lectus. Donec facilisis nibh non cursus cursus.
			  </p>
           </div>
          </li>
		</ul>
	</div>
</div>
    

{% endblock %}