{% block content %}

<div class="row">
  <div class = "medium-12 columns">
    <h1 class="text-center">Resize image with slider</h1>
  </div>
   
<div class="row">
  <div class="medium-12 columns">
    <div class="range-slider" data-slider>
     <span class="range-slider-handle" role="slider" tabindex="0"></span> 
     <span class="range-slider-active-segment"></span> 
     <input type="hidden"> 
    </div>
  </div>
</div>
  
<div class="row">  
 <div class_"medium-12 columns">
  <img class="center" id="image" src="assets/img/front.jpg">
 </div>
</div>

{% endblock %}