{% block content %} 
<header class="row hide-for-small">
    <img class="medium-12 column" src="./assets/img/logo.png">
</header>

	  
<div class="contain-to-grid">  
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name show-for-small">   
      <h1><a href="#">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon show-for-small"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section"> 
	<!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">EggPress</a></li>
      <li><a href="#">Muut tuotteet</a></li>
      <li><a href="#">Omat tuotteet</a></li>
      <li><a href="#">Tietoa meist&auml;</a></li>
      <li><a href="#">Kirjaudu sis&auml;&auml;n</a></li>
    </ul>
  </section>
</nav>


<div class="row main">
  <article class="medium-9 columns pad" style="background-color:white;">
    <ul class="small-block-grid-2"> 
      <li><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </li></p> 
      <li><img src="./assets/img/map.jpg "></li>
     </ul>
  </article>
  
   <aside class="medium-3 columns" style="background-color:lightgrey;"> 
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  
</div>
</div>




<div class = "medium-12 columns">
  <ul class="small-block-grid-4"> 
  <li><img src="./assets/img/cat1.jpg" /></li> 
  <li><img src="./assets/img/cat1.jpg" /></li> 
  <li><img src="./assets/img/cat1.jpg" /></li> 
  <li><img src="./assets/img/cat1.jpg" /></li> 
  </ul>
</div>
  
<footer>
    <a href="#"><b><i>Tervetuloa Facebook-yhteis&ouml;&ouml;mme</i></b></a>
</footer>
  
{% endblock %}